In [40]:
import pandas as pd
import numpy as np
import ast

# Data Loading

In [41]:
movies=pd.read_csv("C:\\UMAR DATA\\Data Sciences\\Intership\\task 5\\tmdb_5000_movies.csv")
movies.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [42]:
credits=pd.read_csv("C:\\UMAR DATA\\Data Sciences\\Intership\\task 5\\tmdb_5000_credits.csv")
credits.head(3)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

# Data Handling

In [43]:
movies = movies[['title', 'genres', 'overview','keywords']]
movies.head()

,title,genres,overview,keywords
0,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [44]:
merge_data=movies.merge(credits,on='title')
merge_data.head()

,title,genres,overview,keywords,movie_id,cast,crew
0,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

# Basic Understanding of Data

In [49]:
print(f'Shape of dataset:{merge_data.shape}\n')
print(f'Null values in a dataset:{merge_data.isnull().sum()}\n')
print(f'Duplicated values in a dataset:{merge_data.duplicated().sum()}')

Shape of dataset:(4806, 7)

Null values in a dataset:title       0
genres      0
overview    0
keywords    0
movie_id    0
cast        0
crew        0
dtype: int64

Duplicated values in a dataset:0

In [46]:
merge_data=merge_data.dropna()
print(f'After dropna values shape looks like:{merge_data.shape}')

After dropna values shape looks like:(4806, 7)

In [47]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4806 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     4806 non-null   object
 1   genres    4806 non-null   object
 2   overview  4806 non-null   object
 3   keywords  4806 non-null   object
 4   movie_id  4806 non-null   int64
 5   cast      4806 non-null   object
 6   crew      4806 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.4+ KB

In [48]:
merge_data.describe(include='object')

,title,genres,overview,keywords,cast,crew
count,4806,4806,4806,4806,4806,4806
unique,4797,1175,4800,4220,4759,4773
top,Out of the Blue,"[{""id"": 18, ""name"": ""Drama""}]",The Dynamic Duo faces four super-villains who ...,[],[],[]
freq,4,371,2,411,42,28

# Data Cleaning

In [50]:
def extract_genres_and_keywords(obj):
    names = []
    data = ast.literal_eval(obj)
    for d in data:
        name = d['name']
        names.append(name if name is not None else '')
    return names

In [51]:
def extract_cast(obj):
    names = []
    data = ast.literal_eval(obj)
    for d in data:
        name = d['name']
        names.append(name)
    return names[:3]

In [52]:
def extract_director(obj):
    directors=[]
    data = ast.literal_eval(obj)   
    for d in data:
        if d['job'] == 'Director':  
            director=d['name']
            directors.append(director) 
    return directors

In [53]:
merge_data['genres']=merge_data['genres'].apply(extract_genres_and_keywords)
merge_data['keywords']=merge_data['keywords'].apply(extract_genres_and_keywords)
merge_data['cast']=merge_data['cast'].apply(extract_cast)
merge_data['crew']=merge_data['crew'].apply(extract_director)

In [54]:
merge_data['genres']=merge_data['genres'].apply(lambda x:[row.replace(' ',"") for row in x])
merge_data['keywords']=merge_data['keywords'].apply(lambda x:[row.replace(' ',"") for row in x])
merge_data['cast']=merge_data['cast'].apply(lambda x:[row.replace(' ',"") for row in x])
merge_data['crew']=merge_data['crew'].apply(lambda x:[row.replace(' ',"") for row in x])

In [55]:
merge_data['overview'] = merge_data['overview'].apply(lambda x: x.split())

# Feature Engineering

In [57]:
merge_data['tags'] = merge_data['genres'] + merge_data['keywords'] + merge_data['overview'] + merge_data['cast'] + merge_data['crew']

In [58]:
cleaned_data=merge_data[['title','tags']]
cleaned_data.head()

,title,tags
0,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."

# Data Conversion

In [59]:
cleaned_data['tags']=cleaned_data['tags'].apply(lambda x:' '.join(x))
cleaned_data['tags']=cleaned_data['tags'].apply(lambda x:x.lower())
cleaned_data.head()

C:\Users\Qadri Laptop\AppData\Local\Temp\ipykernel_6708\178080918.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['tags']=cleaned_data['tags'].apply(lambda x:' '.join(x))
C:\Users\Qadri Laptop\AppData\Local\Temp\ipykernel_6708\178080918.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['tags']=cleaned_data['tags'].apply(lambda x:x.lower())

,title,tags
0,Avatar,action adventure fantasy sciencefiction cultur...
1,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drugabuse exoti...
2,Spectre,action adventure crime spy basedonnovel secret...
3,The Dark Knight Rises,action crime drama thriller dccomics crimefigh...
4,John Carter,action adventure sciencefiction basedonnovel m...

# Feature Extraction

In [60]:
import spacy
nlp=spacy.load("en_core_web_sm")

### Convert all word into their base form

In [61]:
def lemmatization(text):
    lemma_text=[]
    doc=nlp(text)
    for token in doc:
        lemma_text.append(token.lemma_)
    return " ".join(lemma_text)

In [62]:
cleaned_data['tags']=cleaned_data['tags'].apply(lemmatization)

C:\Users\Qadri Laptop\AppData\Local\Temp\ipykernel_6708\3188553364.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['tags']=cleaned_data['tags'].apply(lemmatization)

### apply sentence transformer rather than Tf-idf for best performance

In [29]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('all-MiniLM-L6-v2')
tags_list = cleaned_data['tags'].tolist()
matrixs = model.encode(tags_list, convert_to_numpy=True)

# Similarity Calculation

In [30]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(matrixs)

# Recommender Function

In [32]:
def recommendation_new(movie_name):
    movie_index = cleaned_data[cleaned_data['title'] == movie_name].index[0]
    related = similarity[movie_index]
    similar_series = pd.Series(related, index=cleaned_data.index)
    top_indices = similar_series.nlargest(6).iloc[1:].index
    for i in top_indices:
        print(cleaned_data.title.iloc[i])

# Examples

In [34]:
recommendation_new("Avatar")

Serenity
Jupiter Ascending
The Inhabited Island
Star Trek Into Darkness
Final Fantasy: The Spirits Within

In [38]:
recommendation_new("Batman Begins")

The Dark Knight Rises
The Dark Knight
Batman
Batman
Batman v Superman: Dawn of Justice

In [39]:
recommendation_new("The Avengers")

Avengers: Age of Ultron
Captain America: The Winter Soldier
Iron Man
Captain America: Civil War
Ant-Man